/* Universal Styles */
html,
body{
  font-family: Helvetica, sans-serif;
  color: white;
  font-size: 18px;
  line-height: 1.4em;
}

h1, h2, h3{
  text-transform: uppercase;
}

.container{
  max-width: 960px;
  margin: 0 auto;
}

span {
  color: black;
}

/* Header */

header{
  background-color: black;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.logo{
  display: flex;
  align-items: center;
  padding: .66rem .66rem .5rem;
}

.logo img {
  height: 1.5rem;
  padding-right: 1rem;
}

/* main-banner*/

.main-banner{
  padding-top: 60px;
  height: 25rem;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg);
  background-position: bottom;
  background-size: cover;
}

.new-arrival{
  width: 20rem;
  background-color: black;
  padding: 2rem 3rem;
  position: relative;
  top: 9rem;
}

.new-arrival h3{
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2em;
  margin-top: .25rem;
}

/* navigation */

nav{
  list-style-type: none;
  background-color: firebrick;
  padding: .75rem 0;
}

nav ul{
  display: flex;
  justify-content: space-between;
}

nav li {
  display: inline;
}

/* main content */
/* products */
.products{
  display: flex;
  justify-content: space-between;
  margin: 3rem 0 0 0;
}

.item{
  width:30%;
}

.product-image{
  border: 4px solid black;
  padding: 2rem 0;
  height: 9rem;
  display:flex;
  justify-content: center;
  align-items: center;

}

.product-image img {
  max-width: 8em;

}

.item h4{
  background-color: black;
  padding: .5em;
  text-align: center;
}

/* store information */

.store-info{
  margin: 3em 0 0 0;
  display: flex;
  justify-content: space-between;
}

.info{
  width: 35%;
}

.info h4 {
  background-color: black;
  padding: 1rem 2rem;
}

/* Footer */

footer{
  margin: 4rem 0 0 0;
  background-color: black;
  padding: 5rem;
}
